{extend name="login/parent" /}
{block name="content"}
<div class="tpl-user-login-main">
    <div class="tpl-user-login-box tpl-user-login-header">
        <h2>{$web_name} <span>找回密码</span></h2>
    </div>
    <div class="tpl-user-login-box tpl-user-login-body layui-form">
        <div class="layui-form-item">
            <label class="tpl-user-login-icon layui-icon layui-icon-cellphone"></label>
            <input type="text" name="tel" lay-verify="phone" placeholder="请输入手机号" class="layui-input">
        </div>
        <div class="layui-form-item">
            <div class="layui-row">
                <div class="layui-col-xs7">
                    <label class="tpl-user-login-icon layui-icon layui-icon-vercode"></label>
                    <input type="text" name="vercode" lay-verify="required" placeholder="验证码" class="layui-input">
                </div>
                <div class="layui-col-xs5">
                    <div style="margin-left: 10px;">
                        <img src="https://www.oschina.net/action/user/captcha" class="tpl-user-login-codeimg" id="LAY-user-get-vercode">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-row">
                <div class="layui-col-xs7">
                    <label class="tpl-user-login-icon layui-icon layui-icon-vercode"></label>
                    <input type="text" name="vercode" lay-verify="required" placeholder="短信验证码" class="layui-input">
                </div>
                <div class="layui-col-xs5">
                    <div style="margin-left: 10px;">
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-fluid">获取验证码</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="forgetSubmit">找回密码</button>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    $(function(){
        layui.config({
            version: '2.2.5'
        }).use(['form'],function(){
            var form = layui.form;
            form.render();

            //找回密码下一步
            form.on('submit(forgetSubmit)', function(obj){
                var field = obj.field;

                //请求接口

                return false;
            });

        });
    });
</script>
{/block}
