{extend name="login/parent" /}
{block name="content"}
<div class="tpl-user-login-main">
    <div class="tpl-user-login-box tpl-user-login-header">
        <h2>{$web_name}<span>找回密码</span></h2>
    </div>
    <div class="tpl-user-login-box tpl-user-login-body layui-form">
        <div class="layui-form-item">
            <label class="tpl-user-login-icon layui-icon layui-icon-password"></label>
            <input type="password" name="user_pwd" lay-verify="pass" placeholder="新密码" class="layui-input">
        </div>
        <div class="layui-form-item">
            <label class="tpl-user-login-icon layui-icon layui-icon-password"></label>
            <input type="password" name="confirm_password" lay-verify="required" placeholder="确认密码" class="layui-input">
        </div>
        <div class="layui-form-item">
            <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-user-forget-resetpass">重置新密码</button>
        </div>
    </div>
</div>

{/block}
{block name="script"}
<script>
    $(function(){
        layui.config({
            version: '2.2.5'
        }).use(['form'],function(){
            var form = layui.form;
        });
    });
</script>
{/block}



