{extend name="common/index"}
{block name="content"}
    <div class="layui-row">
        <form class="layui-form" action="">
            <div class="layui-tab layui-tab-card">
                <ul class="layui-tab-title">
                    <li class="layui-this">账号信息</li>
                    <li>人员资料</li>
                    <li>相关图片</li>
                </ul>
                <div class="layui-tab-content tpl-user-content">
                    <div class="layui-tab-item layui-show">
                        <div class="layui-main">
                            <div class="layui-form-item">
                                <label class="layui-form-label">帐号：</label>
                                <div class="layui-input-block">
                                    <input type="text" name="nick_name" required  lay-verify="required" placeholder="请输入帐号" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">密码框：</label>
                                <div class="layui-input-block">
                                    <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">电话号码：</label>
                                <div class="layui-input-block">
                                    <input type="text" name="tel" required  lay-verify="required" placeholder="请输入电话号码" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">真实姓名：</label>
                                <div class="layui-input-block">
                                    <input type="text" name="real_name" required  lay-verify="required" placeholder="请输入真实姓名" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">用户类型：</label>
                                <div class="layui-input-block">
                                    <select name="type" lay-verify="required">
                                        <option value="">请选择</option>
                                        <option value="1">客户</option>
                                        <option value="2">后台管理员</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">部门：</label>
                                <div class="layui-input-block">
                                    <select name="dept_id" lay-verify="required">
                                        <option value="">请选择</option>
                                        <option value="1">IT部</option>
                                        <option value="2">财务部</option>
                                        <option value="3">营销部</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">角色权限：</label>
                                <div class="layui-input-block">
                                    <select name="role_id" lay-verify="required">
                                        <option value="">请选择</option>
                                        <option value="1">财务组</option>
                                        <option value="2">人事组</option>
                                        <option value="3">营销组</option>
                                        <option value="4">培训组</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">数据权限：</label>
                                <div class="layui-input-block">
                                    <select name="login_rank" lay-verify="required">
                                        <option value="">请选择</option>
                                        <option value="1">超级管理员（所有数据可见）</option>
                                        <option value="2">部门管理员（管辖部门的数据可见）</option>
                                        <option value="3">一般用户（个人数据可见）</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">推荐人：</label>
                                <div class="layui-input-block">
                                    <select name="parent_id" lay-verify="required">
                                        <option value="">请选择</option>
                                        <option value="1">大叔</option>
                                        <option value="2">卫庄</option>
                                        <option value="3">石兰</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">登录状态：</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="login_state" value="1" title="正常" checked>
                                    <input type="radio" name="login_state" value="2" title="禁用">
                                    <input type="radio" name="login_state" value="3" title="调试" >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-tab-item">
                        <div class="layui-main">
                            <div class="layui-form-item">
                                <label class="layui-form-label">证件类型：</label>
                                <div class="layui-input-block">
                                    <select name="card_type" lay-verify="required">
                                        <option value="">请选择</option>
                                        <option value="1">身份证</option>
                                        <option value="2">通行证</option>
                                        <option value="3">护照</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">证件号：</label>
                                <div class="layui-input-block">
                                    <input type="text" name="card_no" required  lay-verify="required" placeholder="请输入证件号" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">出生日期：</label>
                                <div class="layui-input-block">
                                    <input type="text" name="birthday" id="birthday" required  lay-verify="required" placeholder="请输入出生日期" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">邮箱：</label>
                                <div class="layui-input-block">
                                    <input type="text" name="email" required  lay-verify="required" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">性别：</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="sex" value="1" title="男" checked>
                                    <input type="radio" name="sex" value="0" title="女">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">所在省市区：</label>
                                <div class="layui-input-inline">
                                    <select name="province" lay-verify="required">
                                        <option value="">请选择省</option>
                                        <option value="1">广东省</option>
                                        <option value="2">湖南省</option>
                                        <option value="3">广西</option>
                                    </select>
                                </div>
                                <div class="layui-input-inline">
                                    <select name="city" lay-verify="required">
                                        <option value="">请选择市</option>
                                        <option value="1">深圳市</option>
                                        <option value="2">广州市</option>
                                        <option value="3">云浮市</option>
                                    </select>
                                </div>
                                <div class="layui-input-inline">
                                    <select name="district" lay-verify="required">
                                        <option value="">请选择县/区</option>
                                        <option value="1">福田区</option>
                                        <option value="2">罗湖区</option>
                                        <option value="3">南山区</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">详细街道地址：</label>
                                <div class="layui-input-block">
                                    <input type="text" name="address" required  lay-verify="required" placeholder="请输入详细街道地址" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">银行：</label>
                                <div class="layui-input-block">
                                    <select name="bank" lay-verify="required">
                                        <option value="">请选择</option>
                                        <option value="1">中国银行</option>
                                        <option value="2">招商银行</option>
                                        <option value="3">民生银行</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">银行卡号：</label>
                                <div class="layui-input-block">
                                    <input type="text" name="bank_no" required  lay-verify="required" placeholder="请输入银行卡号" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label tpl-form-label-long">紧急联系人：</label>
                                <div class="layui-input-block">
                                    <input type="text" name="contact_name" required  lay-verify="required" placeholder="请输入紧急联系人" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label tpl-form-label-long">紧急联系人电话：</label>
                                <div class="layui-input-block">
                                    <input type="text" name="contact_tel" required  lay-verify="required" placeholder="请输入紧急联系人电话" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label tpl-form-label-long">紧急联系人地址：</label>
                                <div class="layui-input-block">
                                    <input type="text" name="contact_address" required  lay-verify="required" placeholder="请输入紧急联系人地址" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">职务：</label>
                                <div class="layui-input-block">
                                    <select name="position" lay-verify="required">
                                        <option value="">请选择</option>
                                        <option value="1">董事长</option>
                                        <option value="2">总裁</option>
                                        <option value="3">总监</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">在职状态：</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="onduty_state" value="1" title="在职" checked>
                                    <input type="radio" name="onduty_state" value="0" title="离职">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-tab-item">
                        三：相关图片
                        头像
                        <hr>
                        四：大头像 <br>
                        登录次数
                        最后一次登录时间
                        最后一次登录ip
                        创建时间
                    </div>
                </div>
            </div>
            <div class="tpl-form-action">
                <button class="layui-btn layui-btn-radius layui-btn-lg" lay-submit lay-filter="formDemo">保存</button>
            </div>
        </form>
    </div>
{/block}

{block name="script"}
<script type="text/javascript">
    layui.use(['form','laydate'], function () {
        var form = layui.form;
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#birthday' //指定元素
        });
    });

</script>
{/block}