{extend name="common/index"}
{block name="css"}
{/block}
{block name="content"}
<div class="layui-row">
    <form id="searchForm" class="layui-form layui-form-pane tpl-form-search" onkeydown="if(event.keyCode=='13'){reloadTable('#searchForm');return false;}">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">类型</label>
                <div class="layui-input-inline">
                    <select name="type">
                        <option value="">请选择</option>
                        {volist name="typeList" id="vo"}
                        <option value="{$vo.id}">{$vo.name}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-btn-group">
                    <a class="layui-btn layui-btn-normal" onclick="reloadTable('#searchForm');">搜索</a>
                    <a class="layui-btn" href="{:url('edit')}" target="_blank">新增</a>
                    <a class="layui-btn layui-btn-danger">删除</a>
                </div>
            </div>
        </div>
    </form>
</div>

<table id="msgTable" lay-filter="msgTable"></table>

{/block}

{block name="script"}
<script type="text/javascript">
    var table_data;
    layui.use(['form', 'table'], function () {
        var form = layui.form;
        var table = layui.table;

        //表格数据渲染：公告
        table.render({
            elem: '#msgTable'
            , url: '{:url("getDataList")}'
            , page: true
            ,limit: table_limit
            ,limits: table_limits
            , cols: [[
                {type: 'numbers', title: '序号', width: 80}
                , {field: 'type', title: '类型', minWidth: 100}
                , {field: 'content', title: '内容', width: '40%'}
                , {field: 'create_by', title: '发送人', minWidth: 100}
                , {field: 'create_time', title: '发送时间', minWidth: 100}
            ]]
            ,where: getFormJson('#searchForm')
        });
    });

</script>
{/block}